.calculator{
  width: 432px;
  height:300px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 40px 20px 10px 20px;
}

.btn_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.info{
  margin-bottom: 10px;
  width:416px;
  height:40px;
}
