.btn{
  width: 80px;
  height: 54px;
  display: inline-block;
  margin: 0 0 8px 0;
  font-size: 26px;
  font-weight: bold;
  color:white;
  background: linear-gradient(0deg, #4EA4DC -416%, #2BAFDE 401%);
  border: 3px solid #06568d;
  border-radius: 6px;
}
.big_btn{
  height: 114px;
  font-size: 36px;
}
.small_btn{
  height: 40px;
}
